@charset "ISO-8859-1";

body {
  background-color: rgb(27, 27, 27);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
body nav .logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: larger;
}
body nav .logo img {
  height: 43px;
  border-radius: 50%;
}
body nav .logo p {
  padding-left: 10px;
  font-weight: 500;
}
body nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #a8b2b3;
  font-weight: 500;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  padding: 10px;
}
body nav .links a {
  text-decoration: none;
  font-size: large;
  font-weight: 400;
  color: black;
  font-size: 21px;
  padding: 20px;
}
body nav .socials img {
  height: 30px;
}
body nav .socials a {
  padding-left: 10px;
}
body nav .socials #git {
  height: 34px;
}
body .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .card {
  max-width: 1400px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(212, 22, 22, 0.1);
  background-color: #fff;
  background-size: cover;
  background-position: center;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 20px;
}
body h1 {
  font-size: 50px;
}
body .bloc p {
  font-size: 25px;
}
body .bloc button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
body .bloc button:hover {
  background: white;
  color: black;
}
body .card1 {
  background-image: url(/assets/card1.avif);
}
body .card2 {
  background-image: url(/assets/card2.avif);
}
body .card3 {
  background-image: url(/assets/card3.avif);
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(212, 22, 22, 0.1);
  color: black;
  background-color: rgba(255, 219, 77, 0.9);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 20px;
  padding-left: 200px;
  padding-right: 200px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
body footer h1 {
  font-size: 36px;
}
body footer p {
  font-size: 18px;
}
body footer .submit {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
body footer .submit input {
  font-size: 25px;
  background-color: black;
  border: none;
  text-underline-position: below;
  color: #fff;
}
body footer .submit button {
  font-size: 18px;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 12px 28px;
}
body footer .socials a {
  padding: 4px;
}/*# sourceMappingURL=home.css.map */