<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Blog</title>
    <link rel="icon" type="image/png" href="/assets/logo.jpeg">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/assets/logo.jpeg" alt="">
            <p>LE BLOG</p>
        </div>
        <div class="links">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="socials">
            <a href="https://www.linkedin.com/in/preet3101x/" target="_blank"><img src="/assets/linkedin.svg"  alt=""></a>
            <a href="https://x.com/?lang=en" target="_blank"><img src="/assets/twitter.svg" alt=""></a>
            <a href="https://github.com/Preet2099x" target="_blank"><img src="/assets/github.svg" alt="" id='git'></a>
        </div>    
    </nav>
    <section class="main">

        <div class="card card1">
            <h1>Building Progressive Web Apps: Bridging The Gap Between Web And Mobile</h1>
            <div class="bloc">
                <p>Progressive Web Apps (PWAs) represent a pivotal convergence point between web and mobile experiences. By leveraging the strengths of both platforms, PWAs offer enhanced accessibility and engagement. In this article, we explore the fundamentals of PWAs, their advantages, and practical strategies for implementation. Whether you're a web developer looking to expand your toolkit or a mobile enthusiast seeking broader reach, PWAs offer a promising solution.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="card card2">
            <h1>Best Practices For Writing Clean And Maintainable Code</h1>
            <div class="bloc" >
                <p>In the realm of software development, writing clean and maintainable code is paramount for ensuring the longevity and scalability of a project. Adopting best practices not only enhances code readability but also facilitates collaboration and reduces technical debt. In this guide, we delve into essential principles and techniques for crafting clean and maintainable code. From meaningful variable names to modular design patterns, mastering these practices empowers developers to create robust and sustainable software solutions.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="card card3">
            <h1>Demystifying Machine Learning: A Beginner's Guide</h1>
            <div class="bloc" >
                <p>In today's digital age, machine learning is revolutionizing industries across the board, from healthcare to finance. But what exactly is machine learning, and how does it work? In this comprehensive beginner's guide, we'll delve into the fundamentals of machine learning, exploring topics such as algorithms, training data, and model evaluation. By the end of this journey, you'll have a solid understanding of the principles behind machine learning and how it's shaping the future of technology.</p>
                <button>Read More</button>
            </div>
        </div>
    </section>
    <footer class="">
        <h1>Interesting Stories | Updates | Guides
        </h1>
        <p>Subscribe to learn about new technology and updates. Join over 5000+ members community to stay up to date with latest news.</p>
        <div class="submit">
            <input type="email" name="" id="" placeholder="Enter your email">
            <button>Submit</button>
        </div>
        <div class="socials">
            <a href="https://www.linkedin.com/in/preet3101x/" target="_blank"><img src="/assets/linkedin.svg"  alt=""></a>
            <a href="https://x.com/?lang=en" target="_blank"><img src="/assets/twitter.svg" alt=""></a>
            <a href="https://github.com/Preet2099x" target="_blank"><img src="/assets/github2.svg" alt="" id='git'></a>
        </div>        
        <p>©2023 Preet Singh. All rights reserved.</p>
        
    </footer>

    
     
</body>
</html>